@function _hex-to-dec($string) {
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $string: to-lower-case($string);

    @if $string == "" {
      $string: "ff";
    }

    $length: str-length($string);

    $dec: 0;
    @for $i from 1 through $length {
      $factor: 1 + (15 * ($length - $i));
      $index: index($hex, str-slice($string, $i, $i));
      $dec: $dec + $factor * ($index - 1);
    }
  
    @return $dec;
  }

@function _from-hex($string) {
    $string-lower: to-lower-case($string);
    $r: "";  $g: ""; $b: ""; $a: "";
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $length: str-length($string);
    $max: if($length == 4, 1, 2);
  
    // Check for length accuracy
    @if $length != 4 and $length != 7 and $length != 9 {
      @debug "Not accurate";
      @return $string;
    }
  
    // Loop from the second character (omitting #)
    @for $i from 2 through $length {
      $c: str-slice($string-lower, $i, $i);
  
      // If wrong character, return
      @if index($hex, $c) == null {
        @debug "Wrong character";
        @return $string;
      }
  
      @if      str-length($r) < $max {
        $r: $r + $c;
      } @else if str-length($g) < $max {
        $g: $g + $c;
      } @else if str-length($b) < $max {
        $b: $b + $c;
      } @else if str-length($a) < $max {
        $a: $a + $c;
      }
    }
  
    @if $length == 4 {
      $r: $r + $r;
      $g: $g + $g;
      $b: $b + $b;
    }

    @return rgba(_hex-to-dec($r), _hex-to-dec($g), _hex-to-dec($b),_hex-to-dec($a));
}

@function is-property($string) {
    @return type-of($string) == "string" and str-index($string, "var") and str-index($string, ",");
}

@function str-trim($string) {
    @if (str-slice($string, 1, 1) == ' ') {
      @return str-trim(str-slice($string, 2));
    } @else if (str-slice($string, str-length($string), -1) == ' ') {
      @return str-trim(str-slice($string, 1, -2));
    } @else {
      @return $string;
    }
}

@function extract-value($string) {

    @if is-property-map($string) {
        @return map-get($string,default);
    }

    @if not is-property($string) {
        @return $string;
    }
    $result: str-slice($string,str-index($string,",")+1,str-index($string,")")-1);

    @return str-trim($result);
}

@function extract-property($string) {

    @if is-property-map($string) {
      @return map-get($string,property);
    }

    @if not is-property($string) {
        @return $string;
    }
    $result: str-slice($string, str-index($string,"--"),str-index($string,",")-1);

    @return str-trim($result);
}

@function guarantee-colour-value($string) {
    @if is-property($string) {
        $original: extract-value($string);
        @return _from-hex($original);
    }

    @return $string;
}

@function is-property-map($value) {
  @if type-of($value) == "map" and map-has-key($value,default) and map-has-key($value,property) {
    @return true;
  }

  @return false;
}

@function build-colour-map($key, $colour) {
    @return (
      100: (property: --#{$key}--100, default: scale-color($colour,$lightness: -40%)),
      200: (property: --#{$key}--200, default: scale-color($colour,$lightness: -30%)),
      300: (property: --#{$key}--300, default: scale-color($colour,$lightness: -20%)),
      400: (property: --#{$key}--400, default: scale-color($colour,$lightness: -10%)),
      500: (property: --#{$key}, default: $colour),
      600: (property: --#{$key}--600, default: scale-color($colour,$lightness: 10%)),
      700: (property: --#{$key}--700, default: scale-color($colour,$lightness: 20%)),
      800: (property: --#{$key}--800, default: scale-color($colour,$lightness: 30%)),
      900: (property: --#{$key}--900, default: scale-color($colour,$lightness: 40%)),
      muted: (property: --#{$key}--muted, default: change-color($colour,$lightness: 94%)),
      muted2: (property: --#{$key}--muted2, default: change-color($colour,$lightness: 90%))
    );
}

@function colour-property-from-map($map,$tint: 500) {
    @return var(#{map-get(map-get($map,$tint),property)},#{map-get(map-get($map,$tint),default)});
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin define-global-property-alias($key, $property) {
  @if is-property($property) or is-property-map($property) {
    $_property: extract-property($property);
    @at-root {
        :root {
            #{$key}: var(#{$_property});
        }
    }
  }
}

@mixin define-global-property-alias-from-map($map,$keyPrefix: "", $keySuffix: "") {
  @each $value, $key in $map {
    @include define-global-property-alias(#{$keyPrefix}#{$key}#{$keySuffix},$value);
  }
}

@mixin assign-variable-property($property, $value, $key: 0, $keyPrefix: "",$keySuffix: "") {

    $_value: #{extract-value($value)};

    // Fallback for browsers that don't support custom CSS properties
    #{$property}: $_value;
    @if variable-exists(slate-include-custom-properties) {
        @if $key != 0 {
          // Set value equal to generated custom property name, falling back to $_value if not defined
          #{$property}: var(#{$keyPrefix}#{$key}#{$keySuffix}, $_value);
          // Alias CSS custom property in :root so that values cascade by default
          @if variable-exists(slate-autogenerate-global-property-aliases) {
            @include define-global-property-alias(#{$keyPrefix}#{$key}#{$keySuffix},$value);
          }
        } @else if is-property($value) or is-property-map($value) {
          // Assign the CSS custom property so that the value is inherited
          $_customProperty: #{extract-property($value)};
          #{$property}: var(#{$_customProperty}, $_value);
        }
    }
}

@mixin assign-variable-property-map($property,$map,$keyPrefix: "", $keySuffix:"") {
    
    $fallback: ();
    $output: ();

    @each $value, $key in $map {

        $_value: extract-value($value);

        @if $key {
            $output: append($output,var(#{$keyPrefix}#{$key}#{$keySuffix},#{$_value}));
            @if variable-exists(slate-autogenerate-global-property-aliases) {
              // Alias CSS custom property in :root so that values cascade
              @include define-global-property-alias(#{$keyPrefix}#{$key}#{$keySuffix},$value);
            }
        } @else {
            $output: append($output,#{$_value});
        }

        $fallback: append($fallback,#{$_value});
    }

    #{$property}: $fallback;
    @if variable-exists(slate-include-custom-properties) {
      #{$property}: $output;
    }
}