@import 'variables/breakpoints';
@import 'variables/forms';
@import 'helpers';

// Generate preset media query from breakpoint key
@function media-query-from-breakpoint($breakpoint, $media: 'screen') {
    $width: map-get($slate-breakpoints, $breakpoint);
    @return #{$media} and (min-width: #{$width});
}

// Output content inside a media query for the defined breakpoint,
// e.g. @media screen and (min-width: 960px) {} when breakpoint 'medium' is passed
@mixin respond($breakpoint, $media: 'screen') {
    @media #{media-query-from-breakpoint($breakpoint, $media)} {
        @content;
    }
}

// Output a style assigned to all heading tags
@mixin for-all-headings {
    h1,
    .h1,
    %h1,
    h2,
    .h2,
    %h2,
    h3,
    .h3,
    %h3,
    h4,
    .h4,
    %h4,
    h5,
    .h5,
    %h5,
    h6,
    .h6,
    %h6 {
        @content;
    }
}

// Button generators
@mixin default-button--hover-effect($colour, $background: 0, $key: 0) {
    @if $background == 0 {
        @if type-of($colour) == "map" {
            $background: map-get($colour,muted);
        } @else {
            $background: change-color(
                guarantee-colour-value($colour),
                $lightness: (100 - $slate-button-darken-amount)
            );
        }
    }

    @if type-of($colour) == "map" {
        $colour: map-get($colour,500);
    }
    @include assign-variable-property(background,$background,$key,--slate-button-background--,--hover);
    @include assign-variable-property(color,$colour,$key,--slate-button-colour--,--hover);
}

@mixin default-button--active-effect($colour, $background: 0, $key: 0) {

    $_shadow-colour--active: "";

    @if $background != 0 {
        $_shadow-colour--active: $background;
    } @else if type-of($colour) == "map" {
        $_shadow-colour--active: map-get($colour,muted2);
    } @else {
        $_shadow-colour--active: change-color(guarantee-colour-value($colour),$lightness: 90%);
    }

    $_key: "";
    @if $key != 0 {
        $_key: --#{$key};
    }
    
    @include assign-variable-property-map(
        box-shadow,
        (
            // interpolate this, otherwise it gets treated as a map
            #{$slate-button-box-shadow--active},
            ($_shadow-colour--active, $_key)
        ),
        --slate-button-shadow-colour,
        --active
    );
}

@mixin default-button($colour, $background--hover: 0, $key: 0) {
    $_colour: $colour;
    @if type-of($colour) == "map" {
        $_colour: map-get($colour,500);
    }
    @include assign-variable-property(color,$_colour,#{$key},--slate-button-colour--);
    &:active {
        @include default-button--active-effect($colour, $background--hover,$key);
    }
    &:hover {
        @include default-button--hover-effect($colour, $background--hover,$key);
    }
}

@mixin button-colour-from-background($background, $colour: 0,$key: 0, $keyPrefix: "", $keySuffix: "") {
    
    $_colour: "";
    // If colour is set explicitly, use it
    @if $colour != 0 {
        $_colour: $colour;
    } @else {
        $_bg: "";
        @if is-property-map($background) {
            $_bg: map-get($background,default);
        } @else {
            $_bg: guarantee-colour-value($background);
        }

        @if lightness($_bg) > $slate-button-background--contained--lightness-correction-threshold {
            // Modify the colour to a dark variant
            $_colour: change-color(
                $_bg,
                $lightness: $slate-button-color--contained--lightness-correction
            );
        } @else {
            $_colour: $slate-button-colour--contrast;
        }
    }

    @include assign-variable-property(color, $_colour, $key, #{$keyPrefix}colour--, $keySuffix);
}

@mixin contained-button(
    $background,
    $colour: 0,
    $background--hover: 0,
    $colour--hover: 0,
    $border-colour: 0,
    $border-colour--hover: 0,
    $key: 0,
    $active-shadow-colour: 0,
) {
    // Pre-define vars
    $_background-colour: "";
    $_background-colour--hover: "";
    $_border-colour: "";
    $_border-colour--hover: "";
    $_shadow_colour--active: "";

    // Utility vars
    $_bg-lightness: 0;

    // Background Colour
    @if type-of($background) == "map" {
        $_background-colour: map-get($background,500);
    } @else {
        $_background-colour: $background;
    }

    // Background Colour – On Hover
    @if $background--hover != 0 {
        $_background-colour--hover: $background--hover;
    } @else {
        @if is-property-map($_background-colour) {
            // Use the default value to determine a lightness
            $_bg-lightness: lightness(map-get($_background-colour,default));
            @if $_bg-lightness < 20 {
                $_background-colour--hover: map-get($background,600);
            } @else {
                $_background-colour--hover: map-get($background,400);
            }
        } @else {
            $_bg-lightness: lightness(guarantee-colour-value($_background-colour));
            @if $_bg-lightness < 20 {
                $_background-colour--hover: scale-color(guarantee-colour-value($_background-colour),$lightness: $slate-button-lighten-amount);
            } @else {
                $_background-colour--hover: scale-color(guarantee-colour-value($_background-colour),$lightness: -$slate-button-darken-amount);
            }
        }
    }

    // Border Colour
    @if $border-colour != 0 {
        $_border-colour: $border-colour;
    } @else if type-of($background) == "map" {
        $_border-colour: map-get($background,400);
    } @else {
        $_border-colour: scale-color(guarantee-colour-value($background),$lightness: -$slate-button-darken-amount);
    }

    @include button-colour-from-background($_background-colour,$colour,$key,--slate-button-,--contained);
    @include assign-variable-property(background,$_background-colour,$key,--slate-button-background--,--contained);
    @include assign-variable-property(border-color,$_border-colour,$key,--slate-button-border-colour--,--contained);

    &:visited {
        @include button-colour-from-background($_background-colour,$colour,$key,--slate-button-,--contained--visited);
    }

    &:active {
        @if $active-shadow-colour != 0 {
            $_shadow-colour--active: $active-shadow-colour,
        } @else if type-of($background) == "map" {
            @if $_bg-lightness < 20 {
                $_shadow-colour--active: map-get($background,300);
            } @else {
                $_shadow-colour--active: map-get($background,100);
            }
        } @else {
            $_shadow-colour--active: scale-color(guarantee-colour-value($_background-colour--hover),$lightness: -$slate-button-darken-amount);
        }

        $_key: "";
        @if $key != 0 {
            $_key: --#{$key};
        }
        
        @include assign-variable-property-map(
            box-shadow,
            (
                // interpolate this, otherwise it gets treated as a map
                #{$slate-button-box-shadow--active},
                ($_shadow-colour--active, $_key)
            ),
            --slate-button-shadow-colour,
            --contained--active
        );
    }

    &:hover {
        @include button-colour-from-background(
            $_background-colour--hover,
            $colour--hover,
            $key,
            --slate-button-,
            --contained--hover
        );
        @if $border-colour--hover != 0 {
            @include assign-variable-property(border-color, $border-colour--hover, $key, --slate-button-border-colour--,--contained--hover);
        }
        @include assign-variable-property(background, $_background-colour--hover, $key, --slate-button-background--,--contained--hover);
    }
}

// Message Variant Generator
@mixin message-variant($colour, $lightness, $alpha, $key: 0) {

    $_border-colour: "";
    $_background-colour: "";
    $_colour: "";

    @if type-of($colour) == "map" {
        $_border-colour: map-get($colour,500);
        $_background-colour: map-get($colour,muted);
        $_colour: map-get($colour,500);
    } @else {
        $_border-colour: $colour;
        $_background-colour: change-color(guarantee-colour-value($colour),$lightness: $lightness, $alpha: $alpha);
        $_colour: $colour;
    }

    @include assign-variable-property(border-color,$_border-colour, $key, --slate-message-border-colour--);
    @include assign-variable-property(background,$_background-colour, $key, --slate-message-background-colour--);
    @include assign-variable-property(color,$_border-colour, $key, --slate-message-colour--);
}

// Generate checkbox styles
@mixin checkbox-styles {
    content: '';
    display: inline-block;
    vertical-align: $slate-forms-label-check-vertical-align;
    flex-grow: 0;
    flex-shrink: 0;
    width: $slate-forms-label-check-width;
    height: $slate-forms-label-check-height;
    margin: $slate-forms-label-check-margin;
    border: $slate-forms-input-border-width $slate-forms-input-border-style
        $slate-forms-input-border-colour;
    border-radius: $slate-forms-input-border-radius;
    background: $slate-forms-input-background;
    box-shadow: inset -1px 2px 5px rgba($slate-forms-input-border-colour, 0.3);
}

@mixin checkbox-styles--checked {
    background: $slate-forms-label-check-background;
}

@mixin loader-spinner(
    $easing, 
    $timing,
    $size,
    $border-width,
    $colour,
    $rotate-animation,
    $background: 0,
    $key: 0,
) {
    position: relative;
    &--spinner {
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes rotate {
            0% {
                transform: translateY(-50%) rotate(0deg);
            }

            to {
                transform: translateY(-50%) rotate(359deg);
            }
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @if $background != 0 {
            background: $background;
        }
        animation: fadeIn $easing $timing;

        $_colour: "";
        $_muted-colour: "";

        @if type-of($colour) == "map" {
            $_colour: map-get($colour,600);
            $_muted-colour: map-get($colour,muted);
        } @else {
            $_colour: scale-color($colour,$lightness: 10%);
            $_muted-colour: change-color($colour,$lightness: 94%);
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 45%;
            width: $size;
            height: $size;
            @include assign-variable-property-map(
                border,
                (
                    $border-width,
                    solid,
                    ($_muted-colour, $key)
                ),
                --slate-spinner-border-colour--
            );
            // border-right-color: transparentize(guarantee-colour-value($colour), 0.3);
            @include assign-variable-property(border-right-color,$_colour,$key,--slate-spinner-border-right-colour--,);
            border-radius: 100%;
            transform: translateY(-50%);
            animation: $rotate-animation;
        }
    }
}