@import '../../variables/layout';

.container {
    width: 100%;
    max-width: $slate-layout-container-max-width;
    &.center {
        margin: $slate-layout-container-center-margin;
    }
    &.horizontal-padding {
        padding-right: $slate-layout-container-horizontal-padding;
        padding-left: $slate-layout-container-horizontal-padding;
    }
    &.vertical-padding {
        padding-top: $slate-layout-container-vertical-padding;
        padding-bottom: $slate-layout-container-vertical-padding;
    }
    &.wide {
        max-width: $slate-layout-container-wide-max-width;
    }
}