@import '../../variables/grid';
@import '../../variables/breakpoints';
@import '../../mixins';

#{$slate-grid-selector} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @each $den in $slate-grid-division-denominators {
        @for $num from 1 through $den {
            &#{$slate-grid-selector}-width-#{$num}-#{$den} {
                > * {
                    width: percentage($num / $den);
                }
            }
        }
    }

    @each $label, $query in $slate-media-queries {
        @include respond($label) {
            @each $den in $slate-grid-division-denominators {
                @for $num from 1 through $den {
                    &#{$slate-grid-selector}-width-#{$label}-#{$num}-#{$den} {
                        > * {
                            width: percentage($num / $den);
                        }
                    }
                }
            }
        }
    }

    @each $den in $slate-grid-division-denominators {
        @for $num from 1 through $den {
            > #{$slate-grid-selector}--item-width-#{$num}-#{$den},
            > .width-#{$num}-#{$den} {
                width: percentage($num / $den);
            }
        }
    }

    @each $label, $query in $slate-media-queries {
        @include respond($label) {
            @each $den in $slate-grid-division-denominators {
                @for $num from 1 through $den {
                    > #{$slate-grid-selector}--item-width-#{$label}-#{$num}-#{$den},
                    > .width-#{$label}-#{$num}-#{$den} {
                        width: percentage($num / $den);
                    }
                }
            }
        }
    }

    &.center {
        justify-content: center;
    }

    &.vertical-center {
        align-items: center;
    }
    > * {
        flex: none;
        width: 100%;
    }
}

* + #{$slate-grid-selector} {
    margin-top: $slate-grid-trailing-margin;
}

#{$slate-padded-grid-selector} {
    display: block;
    width: 100%;
    > #{$slate-grid-selector} {
        width: calc(100% + #{$slate-grid-padded-grid-padding-horizontal});
        margin-top: -$slate-grid-padded-grid-padding-vertical;
        margin-left: -$slate-grid-padded-grid-padding-horizontal;
        @each $den in $slate-grid-division-denominators {
            @for $num from 1 through $den {
                &#{$slate-grid-selector}-width-#{$num}-#{$den} {
                    > * {
                        width: calc(
                            #{percentage($num / $den)} -
                            #{$slate-grid-padded-grid-padding-horizontal}
                        );
                    }
                }
            }
        }

        @each $label, $query in $slate-media-queries {
            @include respond($label) {
                @each $den in $slate-grid-division-denominators {
                    @for $num from 1 through $den {
                        &#{$slate-grid-selector}-width-#{$label}-#{$num}-#{$den} {
                            > * {
                                width: calc(
                                    #{percentage($num / $den)} -
                                    #{$slate-grid-padded-grid-padding-horizontal}
                                );
                            }
                        }
                    }
                }
            }
        }

        @each $den in $slate-grid-division-denominators {
            @for $num from 1 through $den {
                > #{$slate-grid-selector}--item-width-#{$num}-#{$den},
                > .width-#{$num}-#{$den} {
                    width: calc(
                        #{percentage($num / $den)} -
                        #{$slate-grid-padded-grid-padding-horizontal}
                    );
                }
            }
        }

        @each $label, $query in $slate-media-queries {
            @include respond($label) {
                @each $den in $slate-grid-division-denominators {
                    @for $num from 1 through $den {
                        > #{$slate-grid-selector}--item-width-#{$label}-#{$num}-#{$den},
                        > .width-#{$label}-#{$num}-#{$den} {
                            width: calc(
                                #{percentage($num / $den)} -
                                #{$slate-grid-padded-grid-padding-horizontal}
                            );
                        }
                    }
                }
            }
        }
        > * {
            width: calc(100% - #{$slate-grid-padded-grid-padding-horizontal});
            margin-top: $slate-grid-padded-grid-padding-vertical;
            margin-left: $slate-grid-padded-grid-padding-horizontal;
        }
    }
}

* + #{$slate-padded-grid-selector} {
    margin-top: $slate-grid-trailing-margin;
}
