@import '../../variables/layout';

.gutter {
    &-top {
        margin-top: $slate-layout-gutter;
        &--large {
            margin-top: $slate-layout-gutter--large;
        }
    }
    &-bottom {
        margin-bottom: $slate-layout-gutter;
        &--large {
            margin-bottom: $slate-layout-gutter--large;
        }
    }
}