@import '../../variables/lists';

%lists-typography {
    ul,
    ol {
        max-width: $slate-lists-max-width--typography;
        margin-right: $slate-lists-margin-right--typography;
        margin-left: $slate-lists-margin-left--typography;
    }
}

%lists-reset {
    padding: 0;
    list-style: none;
}
