@import '../../variables/layout';
@import '../../mixins';

#{$slate-layout-section-selector},
%section {
    padding: $slate-layout-section-vertical-padding
        $slate-layout-section-horizontal-padding;
    &:nth-of-type(even) {
        background: $slate-layout-section-alternate-bg;
    }
    &.remove-bottom-padding {
        padding-bottom: 0;
    }
    &.remove-top-padding {
        padding-top: 0;
    }
    &.remove-left-padding {
        padding-left: 0;
    }
    &.remove-right-padding {
        padding-right: 0;
    }
    @include respond(medium) {
        padding: $slate-layout-section-vertical-padding--med
            $slate-layout-section-horizontal-padding--med;
    }
}