@import '../../variables/typography';

.typography {
    display: block;
    width: 100%;
    max-width: $slate-typography-max-width;
    margin: $slate-typography-margin;
    padding: $slate-typography-padding-vertical
        $slate-typography-padding-horizontal;
    &.align-left {
        margin: 0 auto 0 0;
    }
    &.align-right {
        margin: 0 0 0 auto;
    }
    &.remove-vertical-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    &.remove-horizontal-padding {
        padding-left: 0;
        padding-right: 0;
    }
    &.wide {
        max-width: $slate-typography-wide-max-width;
    }
    &.full-width {
        max-width: none;
    }
}

* + .typography {
    margin-top: $slate-typography-trailing-margin;
}