@import '../variables/mobile-menu-drawer';

.mobile-menu-drawer {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: $slate-mobile-menu-drawer-z-index;
    display: block;
    width: 100%;
    max-width: $slate-mobile-menu-drawer-max-width;
    height: 100%;
    padding: $slate-mobile-menu-drawer-padding;
    background: $slate-mobile-menu-drawer-background;
    &--items {
        padding: 0;
        list-style: none;
        li {
            display: block;
            padding: $slate-mobile-menu-drawer-items-padding;
            text-indent: 0;
            a {
                color: $slate-mobile-menu-drawer-items-colour;
                font-size: $slate-mobile-menu-drawer-items-font-size;
            }
            ul {
                margin-top: 0;
                padding: 0;
                list-style: none;
                li {
                    padding: $slate-mobile-menu-drawer--nested-items--padding;
                    a {
                        color: $slate-mobile-menu-drawer--nested-items--colour;
                        font-size: $slate-mobile-menu-drawer--nested-items--font-size;
                    }
                }
            }
        }
        * + li {
            margin-top: 0;
            border-top: $slate-mobile-menu-drawer-items-divider;
        }
    }
}
