$slate-accordion--toggle--transform-origin: center center !default;
$slate-accordion--toggle--padding: 0.5rem !default;
$slate-accordion--toggle--top: 0.3em !default;
$slate-accordion--toggle--right: 0 !default;
$slate-accordion--toggle--font-size: 1rem !default;
$slate-accordion--toggle--colour: $slate-highlight-colour !default;