@import 'colours';
@import 'animations';
@import 'spacing';
@import '../helpers';

$slate-base-default-box-sizing: border-box !default;

$slate-base-default-font-size: 16px !default;

$slate-base-body-colour: $slate-black !default;
$slate-base-body-font-family: sans-serif !default;
$slate-base-body-font-size: 1rem !default;
$slate-base-body-font-size--medium: 0 !default;
$slate-base-body-font-weight: 400 !default;
$slate-base-body-line-height: 1.4 !default;

$slate-base-heading-colour: inherit !default;
$slate-base-heading-font-family: sans-serif !default;
$slate-base-heading-font-weight: 700 !default;
$slate-base-heading-line-height: 1.4 !default;
$slate-base-heading-text-transform: none !default;
$slate-base-heading-base-font-size: 1rem !default;
$slate-base-heading-base-font-size--medium: $slate-base-heading-base-font-size !default;
$slate-base-heading-variance-step: 0.1rem !default;
$slate-base-heading-variance-step--medium: $slate-base-heading-variance-step !default;
$slate-base-heading-trailing-margin-base: 1rem !default;
$slate-base-heading-trailing-margin-variance-step: 0.1rem !default;

$slate-base-p-margin: 0 !default;
$slate-base-p-text-transform: none !default;
$slate-base-p-trailing-margin: 1rem !default;

$slate-base-anchor-colour: map-get($slate-highlight-colour-map,500) !default;
$slate-base-anchor-font-weight: inherit !default;
$slate-base-anchor-text-decoration: none !default;
$slate-base-anchor-transition: color $slate-animation-timing $slate-animation-easing !default;
$slate-base-anchor-colour--visited: $slate-base-anchor-colour !default;
$slate-base-anchor-text-decoration--visited: $slate-base-anchor-text-decoration !default;
$slate-base-anchor-colour--hover: map-get($slate-highlight-colour-map,300) !default;
$slate-base-anchor-cursor--hover: pointer !default;
$slate-base-anchor-text-decoration--hover: $slate-base-anchor-text-decoration !default;

$slate-base-strong-font-weight: 700 !default;

$slate-base-address-trailing-margin: 1rem !default;
$slate-base-address-p-trailing-margin: 0 !default;

$slate-base-blockquote-font-size: 1.4rem !default;
$slate-base-blockquote-padding: 0 (2 * $slate-default-spacing) !default;
$slate-base-blockquote-font-style: italic !default;


:export {
    defaultBoxSizing: $slate-base-default-box-sizing;
}