

$slate-breakpoints-small: 640px !default;
$slate-breakpoints-medium: 960px !default;
$slate-breakpoints-large: 1200px !default;
$slate-breakpoints-x-large: 1600px !default;

$slate-breakpoints: (
    small: $slate-breakpoints-small,
    medium: $slate-breakpoints-medium,
    large: $slate-breakpoints-large,
    x-large: $slate-breakpoints-x-large
) !default;

// !Deprecated – @function media-query-from-breakpoint (def. in _mixins.scss) now handles this concatenation
$slate-media-queries: (
    small: screen and (min-width: $slate-breakpoints-small),
    medium: screen and (min-width: $slate-breakpoints-medium),
    large: screen and (min-width: $slate-breakpoints-large),
    x-large: screen and (min-width: $slate-breakpoints-x-large)
) !default;

:export {
    small: $slate-breakpoints-small;
    medium: $slate-breakpoints-medium;
    large: $slate-breakpoints-large;
    xLarge: $slate-breakpoints-x-large;
}