@import 'base';
@import 'colours';
@import 'defaults';
@import 'animations';
@import '../helpers';

$slate-button-selector: '.button, a.button, input[type="button"], input[type="submit"], button' !default;

$slate-button-display: inline-block !default;
$slate-button-background: transparent !default;
$slate-button-border-width: 1px !default;
$slate-button-border-style: solid !default;
$slate-button-border-colour: transparent !default;
$slate-button-border-radius: $slate-defaults-border-radius !default;
$slate-button-colour: $slate-base-body-colour !default;
$slate-button-colour--contrast: $slate-contrast-colour !default;
$slate-button-font-family: $slate-base-body-font-family !default;
$slate-button-font-size: 1.2rem !default;
$slate-button-font-size--medium: 0.9rem !default;
$slate-button-font-weight: $slate-base-body-font-weight !default;
$slate-button-letter-spacing: 0.05em !default;
$slate-button-line-height: 1 !default;
$slate-button-margin: $slate-default-spacing 0.2rem 0 0 !default;
$slate-button-margin-top--adjacent-sibling: 0.4rem !default;
$slate-button-padding: 0.4rem 0.4rem !default;
$slate-button-text-align: center !default;
$slate-button-text-decoration: none !default;
$slate-button-text-transform: uppercase !default;
$slate-button-transition: background $slate-animation-timing $slate-animation-easing,
                          color $slate-animation-timing $slate-animation-easing !default;
$slate-button-will-change: background, color !default;
$slate-button--max-width: 100% !default;
$slate-button--overflow: hidden !default;
$slate-button--text-overflow: ellipsis !default;
$slate-button--white-space: normal !default;


$slate-button-colour--visited: $slate-button-colour !default;
$slate-button-text-decoration--visited: $slate-button-text-decoration !default;

$slate-button-outline--focus: none !default;

$slate-button-cursor--hover: pointer !default;

$slate-button-font-size--small: 0.6rem !default;
$slate-button-font-size--large: 1.2rem !default;
$slate-button-padding--small: $slate-button-padding !default;
$slate-button-padding--large: 0.4rem 0.6rem !default;

$slate-button-primary-colour: $slate-primary-colour-map !default;
$slate-button-secondary-colour: $slate-secondary-colour-map !default;
$slate-button-good-colour: $slate-good-colour !default;
$slate-button-bad-colour: $slate-bad-colour !default;

// Leave these as 0 to have the theme calculate colours automatically
$slate-button-background-override--contained--hover: 0 !default;
$slate-button-colour-override--contained--hover: 0 !default;
$slate-button-border-colour-override--contained: 0 !default;
$slate-button-border-colour-override--contained--hover: 0 !default;

$slate-button-background-primary-override--hover: 0 !default;
$slate-button-colour-primary-override--contained: 0 !default;
$slate-button-background-primary-override--contained--hover: 0 !default;
$slate-button-colour-primary-override--contained--hover: 0 !default;
$slate-button-border-colour-primary-override--contained: 0 !default;
$slate-button-border-colour-primary-override--contained--hover: 0 !default;

$slate-button-background-secondary-override--hover: 0 !default;
$slate-button-colour-secondary-override--contained: 0 !default;
$slate-button-background-secondary-override--contained--hover: 0 !default;
$slate-button-colour-secondary-override--contained--hover: 0 !default;
$slate-button-border-colour-secondary-override--contained: 0 !default;
$slate-button-border-colour-secondary-override--contained--hover: 0 !default;

$slate-button-background-good-override--hover: 0 !default;
$slate-button-colour-good-override--contained: 0 !default;
$slate-button-background-good-override--contained--hover: 0 !default;
$slate-button-colour-good-override--contained--hover: 0 !default;
$slate-button-border-colour-good-override--contained: 0 !default;
$slate-button-border-colour-good-override--contained--hover: 0 !default;

$slate-button-background-bad-override--hover: 0 !default;
$slate-button-colour-bad-override--contained: 0 !default;
$slate-button-background-bad-override--contained--hover: 0 !default;
$slate-button-colour-bad-override--contained--hover: 0 !default;
$slate-button-border-colour-bad-override--contained: 0 !default;
$slate-button-border-colour-bad-override--contained--hover: 0 !default;
////

$slate-button-lighten-amount: 90% !default;
$slate-button-darken-amount: 15% !default;
$slate-button-box-shadow--active: inset 0.05em 0.05em 0.5em !default; // Don't include the colour here
$slate-button-background--contained: scale-color($slate-button-colour, $lightness: $slate-button-lighten-amount) !default;
$slate-button-background--contained--lightness-correction-threshold: 80% !default;
$slate-button-color--contained--lightness-correction: 25 !default;

$slate-button-colour--disabled: scale-color($slate-button-colour, $lightness: 15%) !default;
$slate-button-background--contained--disabled: scale-color($slate-button-background--contained, $lightness: -15%) !default;

$slate-button-loader-fade-in-easing: $slate-animation-easing !default;
$slate-button-loader-fade-in-timing: $slate-animation-timing !default;
$slate-button-loader-size: 1rem !default;
$slate-button-loader-width: 3px !default;
$slate-button-loader-colour: $slate-secondary-colour-map !default;
$slate-button-loader-rotate-animation: rotate 1s linear infinite !default;