@import "../helpers";

$slate-primary-colour: #3ea2ff !default;
$slate-secondary-colour: #ff653e !default;
$slate-highlight-colour: $slate-primary-colour !default;
$slate-info-colour: rgb(55, 130, 214) !default;
$slate-good-colour: rgb(119, 197, 47) !default;
$slate-bad-colour: #d32525 !default;
$slate-warning-colour: #fca728 !default;
$slate-black: #000 !default;
$slate-white: #fff !default;
$slate-neutral: #eee !default;
$slate-muted: #bbb !default;
$slate-dark-neutral: lighten($slate-black,50) !default;

$slate-contrast-colour: $slate-white;

$slate-primary-colour-map: build-colour-map(slate-primary-colour,$slate-primary-colour) !default;
$slate-secondary-colour-map: build-colour-map(slate-secondary-colour,$slate-secondary-colour) !default;
// Provide some sensible defaults for highlight colour if it matches
// Primary or secondary colour
$_slate-highlight-colour-map-candidate: build-colour-map(slate-highlight-colour,$slate-highlight-colour);
@if $slate-highlight-colour == $slate-primary-colour {
    $_slate-highlight-colour-map-candidate: $slate-primary-colour-map;
} @else if $slate-highlight-colour == $slate-secondary-colour {
    $_slate-highlight-colour-map-candidate: $slate-secondary-colour-map;
}
$slate-highlight-colour-map: $_slate-highlight-colour-map-candidate !default;
$slate-info-colour-map: build-colour-map(slate-info-colour,$slate-info-colour) !default;
$slate-good-colour-map: build-colour-map(slate-good-colour,$slate-good-colour) !default;
$slate-bad-colour-map: build-colour-map(slate-bad-colour,$slate-bad-colour) !default;
$slate-warning-colour-map: build-colour-map(slate-warning-colour,$slate-warning-colour) !default;