@import 'defaults';
@import 'base';
@import 'spacing';
@import '../functions/colour';

$slate-forms-form-trailing-margin: $slate-default-spacing !default;

$slate-forms-input-background: $slate-white !default;
$slate-forms-input-display: inline-block !default;
$slate-forms-input-colour: $slate-base-body-colour !default;
$slate-forms-input-font-family: $slate-base-body-font-family !default;
$slate-forms-input-font-size: $slate-base-body-font-size !default;
$slate-forms-input-font-weight: $slate-base-body-font-weight !default;
$slate-forms-input-appearance: none !default;
$slate-forms-input-border-width: 1px !default;
$slate-forms-input-border-style: solid !default;
$slate-forms-input-border-colour: $slate-dark-neutral !default;
$slate-forms-input-outline: none !default;
$slate-forms-input-line-height: 1 !default;
$slate-forms-input-width: auto !default;
$slate-forms-input-height: auto !default;
$slate-forms-input-max-width: none !default;

$slate-forms-input-border-radius: $slate-defaults-border-radius !default;
$slate-forms-input-padding: 0.4rem 0.4rem !default;
// Do not override
$slate-forms-input-padding-right--calculated: nth($slate-forms-input-padding,2) !default;

$slate-forms-input-border-width--focus: $slate-forms-input-border-width !default;
$slate-forms-input-border-style--focus: $slate-forms-input-border-style!default;
$slate-forms-input-border-colour--focus: $slate-black !default;

$slate-forms-textarea-resize: vertical !default;

$slate-forms-select-background-image-colour: #444444;
$slate-forms-select-background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#{encodecolour($slate-forms-select-background-image-colour)}' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !default;
$slate-forms-select-background-position: calc(100% - #{$slate-forms-input-padding-right--calculated}) 50% !default;
$slate-forms-select-padding-right: 3 * $slate-forms-input-padding-right--calculated !default;
$slate-forms-select-line-height: $slate-base-body-line-height !default;

$slate-forms-label-display: block !default;
$slate-forms-label-font-size: 0.8rem !default;
$slate-forms-label-font-family: $slate-base-body-font-family !default;
$slate-forms-label-font-weight: 700 !default;
$slate-forms-label-line-height: 1 !default;
$slate-forms-label-text-transform: none !default;
$slate-forms-required-asterisk-colour: $slate-bad-colour !default;
$slate-forms-required-asterisk-margin: $slate-forms-label-font-size/3 !default;

$slate-forms-label-check-font-weight: $slate-base-body-font-weight !default;
$slate-forms-label-check-height: 0.8rem !default;
$slate-forms-label-check-width: $slate-forms-label-check-height !default;
$slate-forms-label-check-background: $slate-highlight-colour !default;
$slate-forms-label-check-vertical-align: -0.15em !default;
$slate-forms-label-check-margin: 0 $slate-default-spacing 0 0 !default;

$slate-forms-loader-fade-in-easing: $slate-animation-easing !default;
$slate-forms-loader-fade-in-timing: $slate-animation-timing !default;
$slate-forms-loader-size: 2rem !default;
$slate-forms-loader-width: 3px !default;
$slate-forms-loader-colour: $slate-secondary-colour-map !default;
$slate-forms-loader-rotate-animation: rotate 1s linear infinite !default;

// exports for listbox field
:export {
    slateFormsInputBorder: $slate-forms-input-border-width $slate-forms-input-border-style $slate-forms-input-border-colour;
    slateFormsSelectBackgroundImageColour: $slate-forms-select-background-image-colour;
    slateFormsInputBorderRadius: $slate-forms-input-border-radius;
    slateFormsInputHeight: $slate-forms-input-height;
}
