@import '../variables/spacing';

$slate-grid-selector: '.grid';
$slate-padded-grid-selector: '.padded-grid';

$slate-grid-division-denominators: 1, 2, 3, 4, 6, 12 !default;

$slate-grid-padded-grid-padding-horizontal: $slate-default-spacing !default;
$slate-grid-padded-grid-padding-vertical: $slate-default-spacing !default;

$slate-grid-trailing-margin: $slate-grid-padded-grid-padding-vertical !default;