@import 'colours';
@import '../helpers';

$slate-hamburger-bar-colour: $slate-highlight-colour !default;

$slate-hamburger-width: 30px !default;
$slate-hamburger-height: 22px !default; // Should always be evenly divisible by 2

@if strip-units($slate-hamburger-height) % 2 != 0 {
    @error "$slate-hamburger-height should always be evenly divisibly by 2 i.e. $slate-hamburger-height % 2 == 0 (#{$slate-hamburger-height} provided).";
}

$slate-hamburger-bar-height: 4px !default;