@import '../variables/colours';
@import '../variables/layout';

$slate-image-break-root-selector: '.image-break' !default;
$slate-image-break-min-height: 40vh !default;
$slate-image-break-overflow: visible !default;
$slate-image-break-vertical-alignment: center !default;
$slate-image-break-container-padding: $slate-layout-section-vertical-padding 0 !default;

$slate-image-break-background-z-index: 0 !default;
$slate-image-break-child-z-index: 2 !default;
$slate-image-break-overlay-class: '.overlay' !default;
$slate-image-break-overlay-class--dark: '.overlay.dark' !default;
$slate-image-break-overlay-colour: $slate-black !default;
$slate-image-break-opacity: 0.2 !default;
$slate-image-break-opacity--dark: 0.5 !default;
$slate-image-break-overlay-colour--dark: $slate-image-break-overlay-colour !default;
$slate-image-break-overlay: transparentize($slate-image-break-overlay-colour,1 - $slate-image-break-opacity) !default;
$slate-image-break-overlay--dark: transparentize($slate-image-break-overlay-colour--dark,1 - $slate-image-break-opacity--dark) !default;