@import '../variables/spacing';

$slate-layout-section-selector: '.section' !default;

$slate-layout-section-vertical-padding: 3 * $slate-default-spacing !default;
$slate-layout-section-horizontal-padding: 0 !default;

$slate-layout-section-alternate-bg: inherit !default;

$slate-layout-container-max-width: 1280px !default;
$slate-layout-container-wide-max-width: 1450px !default;
$slate-layout-container-center-margin: 0 auto !default;

$slate-layout-container-vertical-padding: $slate-default-spacing !default;
$slate-layout-container-horizontal-padding: $slate-default-spacing !default;

$slate-layout-section-vertical-padding--med:  $slate-layout-section-vertical-padding !default;
$slate-layout-section-horizontal-padding--med:  $slate-layout-section-horizontal-padding !default;

$slate-layout-gutter: $slate-default-spacing !default;
$slate-layout-gutter--large: 3 * $slate-layout-gutter !default;