@import 'spacing';

$slate-lists-padding: 0 0 0 1.2em !default;
$slate-lists-trailing-margin: $slate-default-spacing !default;

$slate-lists-items-trailing-margin: (0.5 * $slate-default-spacing) !default;

$slate-lists-ul-list-style: disc outside none !default;
$slate-lists-ul-padding: $slate-lists-padding !default;
$slate-lists-ul-trailing-margin: $slate-lists-trailing-margin !default;

$slate-lists-ol-list-style: decimal outside none !default;
$slate-lists-ol-padding: $slate-lists-padding !default;
$slate-lists-ol-trailing-margin: $slate-lists-trailing-margin !default;

$slate-lists-dl-trailing-margin: $slate-lists-trailing-margin !default;
$slate-lists-dt-trailing-margin: $slate-default-spacing !default;
$slate-lists-dd-trailing-margin: $slate-lists-items-trailing-margin !default;

$slate-lists-max-width--typography: 90% !default;
$slate-lists-margin-left--typography: auto !default;
$slate-lists-margin-right--typography: auto !default;