@import '../variables/base';
@import '../variables/colours';
@import '../variables/spacing';
@import '../variables/layout';
@import '../variables/animations';
@import '../helpers';

$slate-menu-bar-background: transparent !default;
$slate-menu-bar-z-index: 10 !default;
$slate-menu-bar-drop-shadow: none !default;

$slate-menu-bar-container-max-width: $slate-layout-container-max-width !default;
$slate-menu-bar-container-vertical-padding: $slate-default-spacing / 2 !default;
$slate-menu-bar-container-horizontal-padding: $slate-default-spacing !default;

$slate-menu-bar-menu-item-margin: 2 * $slate-default-spacing !default;
$slate-menu-bar-items-font-size: $slate-base-body-font-size !default;
$slate-menu-bar-items-text-transform: none !default;
$slate-menu-bar--items-margin: 0 !default;
$slate-menu-bar-items-vertical-padding: 0 !default;
$slate-menu-bar-items-horizontal-padding: 0 !default;
$slate-menu-bar-items-text-decoration: none !default;
$slate-menu-bar-items-colour: $slate-highlight-colour !default;
$slate-menu-bar-items-transition: color $slate-animation-timing $slate-animation-easing !default;
$slate-menu-bar-items-will-change: color !default;

$slate-menu-bar-items-item-padding--vertical: 0.5 * $slate-default-spacing !default;
$slate-menu-bar-items-item-padding--horizontal: 0 !default;

$slate-menu-bar-items-colour--visited: $slate-menu-bar-items-colour !default;
$slate-menu-bar-items-text-decoration--visited: $slate-menu-bar-items-text-decoration !default;

$slate-menu-bar-items-colour--hover: darken(guarantee-colour-value($slate-menu-bar-items-colour),15%) !default;
$slate-menu-bar-items-text-decoration--hover: $slate-menu-bar-items-text-decoration !default;

$slate-menu-bar-children-background: $slate-neutral !default;
$slate-menu-bar-children-item-colour: $slate-base-body-colour !default;
$slate-menu-bar-children-item-padding--vertical: 0.5 * $slate-default-spacing !default;
$slate-menu-bar-children-item-padding--horizontal: $slate-default-spacing !default;
$slate-menu-bar-children-drop-shadow: 1px 1px 3px transparentize($slate-black,0.8) !default;
$slate-menu-bar-children-transition--in: visibility 0s linear 0s, opacity $slate-animation-timing $slate-animation-easing 0s !default;
$slate-menu-bar-children-transition--out: visibility 0s linear $slate-animation-timing, opacity $slate-animation-timing $slate-animation-easing 0s !default;

$slate-menu-bar-children-item-background--hover: $slate-menu-bar-items-colour !default;
$slate-menu-bar-children-item-colour--hover: $slate-menu-bar-children-item-colour !default;