@import 'menu-bar';
@import 'spacing';
@import 'colours';

$slate-mobile-menu-drawer-z-index: $slate-menu-bar-z-index - 1 !default;

$slate-mobile-menu-drawer-max-width: 600px !default;

$slate-mobile-menu-drawer-background: $slate-black !default;

$slate-mobile-menu-drawer-padding:  ($slate-menu-bar-items-font-size + 2* $slate-menu-bar-items-vertical-padding + 2*$slate-menu-bar-container-vertical-padding + $slate-default-spacing)
                                    $slate-default-spacing $slate-default-spacing !default;

$slate-mobile-menu-drawer-items-colour: $slate-highlight-colour !default;
$slate-mobile-menu-drawer-items-font-size: 1.5rem !default;
$slate-mobile-menu-drawer-items-padding: $slate-default-spacing/3 $slate-default-spacing/4 !default;
$slate-mobile-menu-drawer-items-divider: 1px solid $slate-dark-neutral !default;

$slate-mobile-menu-drawer--nested-items--colour: $slate-mobile-menu-drawer-items-colour !default;
$slate-mobile-menu-drawer--nested-items--font-size: 0.8 * $slate-mobile-menu-drawer-items-font-size !default;
$slate-mobile-menu-drawer--nested-items--padding: $slate-default-spacing/4 0 !default;