@import 'image-break';

$slate-parallax-image-break-background-height: 200% !default;

$slate-parallax-image-break-container-overflow: hidden !default;
$slate-parallax-image-break-container-selector: '#{$slate-image-break-root-selector}--parallax-container';
$slate-parallax-image-break-container-z-index: $slate-image-break-background-z-index !default;