@import 'projectCSSConfig';
@import './animations';

$slate-scroll-spy-default-opacity: 0 !default;
$slate-scroll-spy-animation-property: opacity !default;
$slate-scroll-spy-animation-timing: $slate-animation-timing * 3 !default;
$slate-scroll-spy-animation-easing: $slate-animation-easing !default;
$slate-scroll-spy-default-transition: $slate-scroll-spy-animation-property $slate-scroll-spy-animation-timing $slate-scroll-spy-animation-easing !default;

$slate-scroll-spy--fade-in--starting-opacity: $slate-scroll-spy-default-opacity !default;
$slate-scroll-spy--fade-in--visible-opacity: 1 !default;

$slate-scroll-spy--fade-in-down--starting-transform: translateY(-1rem) !default;
$slate-scroll-spy--fade-in-down--visible-transform: translateY(0) !default;
$slate-scroll-spy--fade-in-down--transition: $slate-scroll-spy-default-transition, transform $slate-scroll-spy-animation-timing $slate-scroll-spy-animation-easing !default;