
$slate-silverstripe-messages-info-colour: $slate-info-colour-map !default;
$slate-silverstripe-messages-good-colour: $slate-good-colour-map !default;
$slate-silverstripe-messages-bad-colour: $slate-bad-colour-map !default;
$slate-silverstripe-messages-warning-colour: $slate-warning-colour-map !default;

$slate-silverstripe-messages-font-size: 0.8rem !default;
$slate-silverstripe-messages-padding: 0.5rem !default;
$slate-silverstripe-messages-trailing-margin: $slate-default-spacing !default;
$slate-silverstripe-messages-border-radius: $slate-defaults-border-radius !default;
$slate-silverstripe-messages-border-thickness: 1px !default;
$slate-silverstripe-messages-background-opacity: 1 !default;
$slate-silverstripe-messages-background-lightness: 96% !default;