
$slate-silverstripe-editor-image-floated-margin-top: 0 !default;
$slate-silverstripe-editor-image-floated-margin-top--trailing: $slate-default-spacing !default;
$slate-silverstripe-editor-image-floated-margin-bottom: 0.5 * $slate-default-spacing !default;
$slate-silverstripe-editor-image-floated-margin-horizontal: $slate-default-spacing !default;

$slate-silverstripe-editor-image-max-width: 60% !default;
$slate-silverstripe-editor-image-max-width--mobile: 90% !default;

$slate-silverstripe-editor--captioned-image-background-colour: #f0f0f0 !default;
$slate-silverstripe-editor--captioned-image-padding: (0.25 * $slate-default-spacing) (0.25 * $slate-default-spacing) (0.5 * $slate-default-spacing) !default;

$slate-silverstripe-editor--caption-padding: 0 (0.5 * $slate-default-spacing) !default;
$slate-silverstripe-editor--caption-color: $slate-muted !default;
$slate-silverstripe-editor--caption-font-size: 0 !default; // Property excluded when == 0
$slate-silverstripe-editor--caption-font-style: 0 !default; // Property excluded when == 0