@import 'spacing';
@import 'colours';

$slate-silverstripe-forms-form-display: block !default;
$slate-silverstripe-forms-form-width: 100% !default;
$slate-silverstripe-forms-form-overflow: visible !default;

$slate-silverstripe-forms-input-width: 100% !default;

$slate-silverstripe-forms-field-message-padding: 0 !default;
$slate-silverstripe-forms-field-message-background: none !default;
$slate-silverstripe-forms-field-message-border: none !default;
$slate-silverstripe-forms-field-message-trailing-margin: 0.25 * $slate-default-spacing !default;

$slate-silverstripe-forms-vertical-gutter: $slate-default-spacing !default;
$slate-silverstripe-forms-horizontal-gutter: $slate-default-spacing !default;
$slate-silverstripe-forms-fieldset-width: calc(100% + #{$slate-silverstripe-forms-horizontal-gutter}) !default;
$slate-silverstripe-forms-fieldset-trailing-margin: $slate-default-spacing !default;

$slate-silverstripe-forms-middlecolumn-margin-top: 0.25rem !default;

$slate-silverstripe-forms-form-action-margin: $slate-default-spacing !default;

$slate-silverstripe-forms-label-colour--required: $slate-bad-colour !default;
$slate-silverstripe-forms-border-colour--required: $slate-bad-colour !default;

$slate-silverstripe-forms-description-display: block !default;
$slate-silverstripe-forms-description-colour: $slate-dark-neutral !default;
$slate-silverstripe-forms-description-font-size: 0.8rem !default;
$slate-silverstripe-forms-description-font-style: italic !default;
$slate-silverstripe-forms-description-line-height: 1.2 !default;
$slate-silverstripe-forms-description-margin: 0 0.2rem !default;
$slate-silverstripe-forms-description-padding: 0 !default;

$slate-silverstripe-forms-label-check-margin: $slate-forms-label-font-size 0 0 !default;
$slate-silverstripe-forms-label-check-text-indent: - nth($slate-forms-label-check-margin,2) - $slate-forms-label-check-width !default;

$slate-silverstripe-forms-optionset-options-background: none !default;
$slate-silverstripe-forms-optionset-options-background--odd: none !default;
$slate-silverstripe-forms-optionset-options-margin: 0 !default;
$slate-silverstripe-forms-optionset-options-padding: 0 !default;
$slate-silverstripe-forms-optionset-options-trailing-margin: 0.5 * $slate-default-spacing !default;

$slate-silverstripe-forms-fieldset-opacity--loading: 0.5 !default;