@import '../variables/colours';
@import '../variables/animations';
@import '../variables/menu-bar';

$slate-sticky-menu-bar-transition--stuck: background $slate-animation-timing $slate-animation-easing !default;
$slate-sticky-menu-bar-drop-shadow--stuck: 0 2px 2px transparentize($slate-black,0.8) !default;
// Use the 'stuck' state as the default, because generally we will want to change the transition in the other diretion
$slate-sticky-menu-bar-transition: $slate-sticky-menu-bar-transition--stuck !default;
$slate-sticky-menu-bar-will-change: background !default;

$slate-sticky-menu-bar-background--stuck: $slate-black !default;
$slate-sticky-menu-bar-items-colour--stuck: $slate-white !default;
$slate-sticky-menu-bar-items-colour--visited--stuck: $slate-menu-bar-items-colour--visited !default;
$slate-sticky-menu-bar-items-colour--hover--stuck: $slate-menu-bar-items-colour--hover !default;

$slate-sticky-menu-bar-background--overlay: transparent !default;
$slate-sticky-menu-bar-items-colour--overlay: $slate-menu-bar-items-colour !default;
$slate-sticky-menu-bar-items-colour--visited--overlay: $slate-menu-bar-items-colour--visited !default;
$slate-sticky-menu-bar-items-colour--hover--overlay: $slate-menu-bar-items-colour--hover !default;