@import 'base';

$slate-table-border: none !default;
$slate-table-border-collapse: collapse !default;
$slate-table-font-family: $slate-base-body-font-family !default;
$slate-table-font-size: inherit !default;
$slate-table-font-weight: $slate-base-body-font-weight !default;
$slate-table-width: 100% !default;
$slate-table-trailing-margin: 1rem !default;

$slate-table-cell-padding: 0.4rem !default;
$slate-table-cell-text-align: left !default;

$slate-table-heading-colour: $slate-base-body-colour !default;
$slate-table-heading-font-weight: 700 !default;
$slate-table-heading-padding: $slate-table-cell-padding !default;
$slate-table-heading-text-align: $slate-table-cell-text-align !default;

$slate-table-row-background: transparentize($slate-neutral,0.3) !default;
$slate-table-row-odd-background: transparentize(lighten($slate-neutral,4),0.3) !default;