@import '../variables/spacing';

$slate-typography-max-width: 760px !default;
$slate-typography-margin: 0 auto !default;
$slate-typography-padding-vertical: 0 !default;
$slate-typography-padding-horizontal: $slate-default-spacing !default;
$slate-typography-trailing-margin: $slate-default-spacing !default;

$slate-typography-wide-max-width: 980px !default;