@import '../variables/base';
@import '../mixins';
@import '../helpers';

* {
    box-sizing: $slate-base-default-box-sizing;
}

html {
    font-size: $slate-base-default-font-size;

    @include respond(small) {
        font-size: $slate-base-default-font-size * 1.2;
    }
}

body {
    color: $slate-base-body-colour;
    font-weight: $slate-base-body-font-weight;
    font-size: $slate-base-body-font-size;
    font-family: $slate-base-body-font-family;
    line-height: $slate-base-body-line-height;
    // Increment body size above medium breakpoint if set
    /* stylelint-disable-next-line -- Prevent @if being re-ordered */
    @if $slate-base-body-font-size--medium > 0 {
        @include respond(medium) {
            font-size: $slate-base-body-font-size--medium;
        }
    }
    @if mixin-exists(slate-base-body-mixin) {
        @include slate-base-body-mixin;
    }
}

// Set defaults for headings
@include for-all-headings {
    margin: 0;
    color: $slate-base-heading-colour;
    font-weight: $slate-base-heading-font-weight;
    font-family: $slate-base-heading-font-family;
    line-height: $slate-base-heading-line-height;
    text-transform: $slate-base-heading-text-transform;
}

@for $level from 1 through 6 {
    h#{$level},
    %h#{$level} {
        font-size: $slate-base-heading-base-font-size +
            (6 - $level) *
            $slate-base-heading-variance-step;
        /* stylelint-disable-next-line -- Prevent @if being re-ordered */
        @if $slate-base-heading-base-font-size--medium !=
            $slate-base-heading-base-font-size or
            $slate-base-heading-variance-step--medium !=
            $slate-base-heading-variance-step
        {
            @include respond(medium) {
                font-size: $slate-base-heading-base-font-size--medium +
                    (6 - $level) * $slate-base-heading-variance-step--medium;
            }
        }
    }

    * + h#{$level} {
        margin-top: $slate-base-heading-trailing-margin-base +
            (6 - $level) *
            $slate-base-heading-trailing-margin-variance-step;
    }
}

h1,
%h1 {
    @if mixin-exists(slate-base-h1-mixin) {
        @include slate-base-h1-mixin;
    }
}

h2,
%h2 {
    @if mixin-exists(slate-base-h2-mixin) {
        @include slate-base-h2-mixin;
    }
}

h3,
%h3 {
    @if mixin-exists(slate-base-h3-mixin) {
        @include slate-base-h3-mixin;
    }
}

h4,
%h4 {
    @if mixin-exists(slate-base-h4-mixin) {
        @include slate-base-h4-mixin;
    }
}

h5,
%h5 {
    @if mixin-exists(slate-base-h5-mixin) {
        @include slate-base-h5-mixin;
    }
}

h6,
%h6 {
    @if mixin-exists(slate-base-h6-mixin) {
        @include slate-base-h6-mixin;
    }
}

.h1 {
    @extend %h1;
}

.h2 {
    @extend %h2;
}

.h3 {
    @extend %h3;
}

.h4 {
    @extend %h4;
}

.h5 {
    @extend %h5;
}

.h6 {
    @extend %h6;
}

@for $level from 1 through 6 {
    * + .h#{$level},
    %h#{$level}-trailing {
        margin-top: $slate-base-heading-trailing-margin-base +
            (6 - $level) *
            $slate-base-heading-trailing-margin-variance-step;
    }
}

// Set paragraph defaults
p {
    margin: $slate-base-p-margin;
    text-transform: $slate-base-p-text-transform;
}

.p,
%p {
    @extend p;
    color: $slate-base-body-colour;
    font-weight: $slate-base-body-font-weight;
    font-size: 1em;
    font-family: $slate-base-body-font-family;
    line-height: $slate-base-body-line-height;
}

* + p,
* + .p {
    margin-top: $slate-base-p-trailing-margin;
}

// Anchor link defaults
a,
%a {
    @include assign-variable-property(color,$slate-base-anchor-colour,--slate-base-anchor-colour);
    font-weight: $slate-base-anchor-font-weight;
    text-decoration: $slate-base-anchor-text-decoration;
    transition: $slate-base-anchor-transition;
    &:visited {
        @include assign-variable-property(color,$slate-base-anchor-colour--visited,--slate-base-anchor-colour--visited);
        text-decoration: $slate-base-anchor-text-decoration--visited;
    }
    &:hover {
        @include assign-variable-property(color,$slate-base-anchor-colour--hover,--slate-base-anchor-colour--hover);
        text-decoration: $slate-base-anchor-text-decoration--hover;
        cursor: $slate-base-anchor-cursor--hover;
    }
}

strong,
%strong {
    font-weight: $slate-base-strong-font-weight;
}

em,
%em {
    font-style: italic;
}

address {
    * + p {
        margin-top: $slate-base-address-p-trailing-margin;
    }
}

* + address {
    margin-top: $slate-base-address-trailing-margin;
}

blockquote,
%blockquote {
    padding: $slate-base-blockquote-padding;
    font-style: $slate-base-blockquote-font-style;
    font-size: $slate-base-blockquote-font-size;
    @if mixin-exists(slate-base-blockquote-mixin) {
        @include slate-base-blockquote-mixin;
    }
}

* + blockquote {
    margin-top: $slate-base-address-trailing-margin;
}
