@import '../variables/button';
@import '../mixins';
@import '../helpers';

#{$slate-button-selector} {
    display: $slate-button-display;
    padding: $slate-button-padding;
    @include assign-variable-property-map(
        border,
        (
            ($slate-button-border-width, button-border-width),
            ($slate-button-border-style, button-border-style),
            ($slate-button-border-colour, button-border-colour)
        ),
        --slate-
    );
    @include assign-variable-property(border-radius, $slate-button-border-radius,button-border-radius,--slate-);
    @include assign-variable-property(background,$slate-button-background,button-background,--slate-);
    @include assign-variable-property(color,$slate-button-colour,button-colour,--slate-);
    font-weight: $slate-button-font-weight;
    font-size: $slate-button-font-size;
    font-family: $slate-button-font-family;
    line-height: $slate-button-line-height;
    letter-spacing: $slate-button-letter-spacing;
    text-align: $slate-button-text-align;
    text-decoration: $slate-button-text-decoration;
    text-transform: $slate-button-text-transform;
    transition: $slate-button-transition;
    appearance: none;
    will-change: $slate-button-will-change;
    margin: $slate-button-margin;
    max-width: $slate-button--max-width;
    overflow: $slate-button--overflow;
    text-overflow: $slate-button--text-overflow;
    white-space: $slate-button--white-space;
    
    /* stylelint-disable-next-line -- Prevent @if being re-ordered */
    @if $slate-button-font-size--medium >
        0 and
        $slate-button-font-size--medium !=
        $slate-button-font-size
    {
        @include respond(medium) {
            font-size: $slate-button-font-size--medium;
        }
    }
    & + & {
        margin-top: $slate-button-margin-top--adjacent-sibling;
    }
    &::selection {
        visibility: hidden;
    }
    &:visited {
        color: $slate-button-colour--visited;
        text-decoration: $slate-button-text-decoration--visited;
    }
    &:focus {
        outline: $slate-button-outline--focus;
    }
    &:active {
        @include default-button--active-effect($slate-button-colour);
    }
    &:hover {
        @include default-button--hover-effect($slate-button-colour);
        cursor: $slate-button-cursor--hover;
    }
    &.small {
        padding: $slate-button-padding--small;
        font-size: $slate-button-font-size--small;
    }
    &.large {
        padding: $slate-button-padding--large;
        font-size: $slate-button-font-size--large;
    }
    &.primary {
        @include default-button(
            $slate-button-primary-colour,
            $slate-button-background-primary-override--hover,
            primary
        );
    }
    &.secondary {
        @include default-button(
            $slate-button-secondary-colour,
            $slate-button-background-secondary-override--hover,
            secondary
        );
    }
    &.good,
    &.success {
        @include default-button(
            $slate-button-good-colour,
            $slate-button-background-good-override--hover,
            good
        );
    }
    &.bad,
    &.error {
        @include default-button(
            $slate-button-bad-colour,
            $slate-button-background-bad-override--hover,
            bad
        );
    }

    // Disabled styling for default button
    &:disabled {
        @include default-button(
            $slate-button-colour--disabled,
            $slate-button-background,
            disabled
        );
        cursor: not-allowed;
    }

    &.contained {
        // Edge case for default contained button, where we will usually want
        // to retain the default button colour on hover
        $_default-button-colour-override--contained--hover: $slate-button-colour;
        @if $slate-button-colour-override--contained--hover != 0 {
            $_default-button-colour-override--contained--hover: $slate-button-colour-override--contained--hover;
        }
        @include contained-button(
            $slate-button-background--contained,
            $slate-button-colour,
            $slate-button-background-override--contained--hover,
            $_default-button-colour-override--contained--hover,
            $slate-button-border-colour-override--contained,
            $slate-button-border-colour-override--contained--hover,
        );
        &.primary {
            @include contained-button(
                $slate-button-primary-colour,
                $slate-button-colour-primary-override--contained,
                $slate-button-background-primary-override--contained--hover,
                $slate-button-colour-primary-override--contained--hover,
                $slate-button-border-colour-primary-override--contained,
                $slate-button-border-colour-primary-override--contained--hover,
                primary
            );
        }
        &.secondary {
            @include contained-button(
                $slate-button-secondary-colour,
                $slate-button-colour-secondary-override--contained,
                $slate-button-background-secondary-override--contained--hover,
                $slate-button-colour-secondary-override--contained--hover,
                $slate-button-border-colour-secondary-override--contained,
                $slate-button-border-colour-secondary-override--contained--hover,
                secondary
            );
        }
        &.good,
        &.success {
            @include contained-button(
                $slate-button-good-colour,
                $slate-button-colour-good-override--contained,
                $slate-button-background-good-override--contained--hover,
                $slate-button-colour-good-override--contained--hover,
                $slate-button-border-colour-good-override--contained,
                $slate-button-border-colour-good-override--contained--hover,
                good
            );
        }
        &.bad,
        &.error {
            @include contained-button(
                $slate-button-bad-colour,
                $slate-button-colour-bad-override--contained,
                $slate-button-background-bad-override--contained--hover,
                $slate-button-colour-bad-override--contained--hover,
                $slate-button-border-colour-bad-override--contained,
                $slate-button-border-colour-bad-override--contained--hover,
                bad
            );
        }
        &:disabled {
            @include contained-button(
                $slate-button-background--contained--disabled,
                $slate-button-colour--disabled,
                $slate-button-background--contained--disabled,
                $slate-button-colour--disabled,
                disabled
            );
        }
    }
}

.action_loading {
    @include loader-spinner(
        $slate-button-loader-fade-in-easing,
        $slate-button-loader-fade-in-timing,
        $slate-button-loader-size,
        $slate-button-loader-width,
        $slate-button-loader-colour,
        $slate-button-loader-rotate-animation,
        $slate-button-background--contained--disabled        
    );
}
  