@import '../variables/contrast';

/*
Cause all child elements to render with a 'contrast' colour scheme
*/

.contrast {
    @if $slate-contrast-heading-colour != inherit {
        @include for-all-headings {
            color: $slate-contrast-heading-colour;
        }
    }
    color: $slate-contrast-body-colour;

    @if mixin-exists($name: slate-contrast-mixin) {
        @include slate-contrast-mixin;
    }
}
