@import '../variables/forms';
@import '../mixins';

* + form {
    margin-top: $slate-forms-form-trailing-margin;
}

input,
%input {
    display: $slate-forms-input-display;
    box-sizing: border-box;
    width: $slate-forms-input-width;
    max-width: $slate-forms-input-max-width;
    height: $slate-forms-input-height;
    padding: $slate-forms-input-padding;
    border: $slate-forms-input-border-width $slate-forms-input-border-style
        $slate-forms-input-border-colour;
    border-radius: $slate-forms-input-border-radius;
    background: $slate-forms-input-background;
    color: $slate-forms-input-colour;
    outline: $slate-forms-input-outline;
    font-weight: $slate-forms-input-font-weight;
    font-size: $slate-forms-input-font-size;
    font-family: $slate-forms-input-font-family;
    line-height: $slate-forms-input-line-height;
    appearance: $slate-forms-input-appearance;
    &:focus {
        border: $slate-forms-input-border-width--focus
            $slate-forms-input-border-style--focus
            $slate-forms-input-border-colour--focus;
    }
}

textarea {
    @extend %input;
    resize: $slate-forms-textarea-resize;
}

select {
    @extend %input;
    padding-right: $slate-forms-select-padding-right;
    background-image: $slate-forms-select-background-image;
    background-position: $slate-forms-select-background-position;
    background-repeat: no-repeat;
    line-height: $slate-forms-select-line-height;
}

label {
    display: $slate-forms-label-display;
    font-weight: $slate-forms-label-font-weight;
    font-size: $slate-forms-label-font-size;
    font-family: $slate-forms-label-font-family;
    line-height: $slate-forms-label-line-height;
    text-transform: $slate-forms-label-text-transform;
    .required {
        margin-left: $slate-forms-required-asterisk-margin;
        color: $slate-forms-required-asterisk-colour;
    }
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
    & + label {
        display: flex;
        align-items: center;
        font-weight: $slate-forms-label-check-font-weight;
        &::selection {
            background: none;
            color: inherit;
        }
        &:hover {
            cursor: pointer;
        }
        &::before {
            @include checkbox-styles;
        }
    }
    &:checked {
        & + label {
            &::before {
                @include checkbox-styles--checked;
            }
        }
    }
}

.form_loading {
    @include loader-spinner(
        $slate-forms-loader-fade-in-easing,
        $slate-forms-loader-fade-in-timing,
        $slate-forms-loader-size,
        $slate-forms-loader-width,
        $slate-forms-loader-colour,
        $slate-forms-loader-rotate-animation
    );
}
