@import '../variables/lists';

ul {
    padding: $slate-lists-ul-padding;
    list-style: $slate-lists-ul-list-style;
    @if mixin-exists(slate-lists-ul-mixin) {
        @include slate-lists-ul-mixin();
    }
}

* + ul {
    margin-top: $slate-lists-ul-trailing-margin;
}

ol {
    padding: $slate-lists-ol-padding;
    list-style: $slate-lists-ol-list-style;
    @if mixin-exists(slate-lists-ul-mixin) {
        @include slate-lists-ol-mixin();
    }
}

* + ol {
    margin-top: $slate-lists-ol-trailing-margin;
}

ul,
ol {
    * + li {
        margin-top: $slate-lists-items-trailing-margin;
    }
}

dl {
    dt {
        @extend %h6 !optional;
    }
    * + dt {
        margin-top: $slate-lists-dt-trailing-margin;
    }

    * + dt {
        margin-top: $slate-lists-dd-trailing-margin;
    }
    @if mixin-exists(slate-lists-dl-mixin) {
        @include slate-lists-dl-mixin();
    }
}

* + dl {
    margin-top: $slate-lists-dl-trailing-margin;
}

@import 'parts/lists-safe';