@import '../variables/table';

table {
    width: $slate-table-width;
    border: $slate-table-border;
    border-collapse: $slate-table-border-collapse;
    font-weight: $slate-table-font-weight;
    font-size: $slate-table-font-size;
    font-family: $slate-table-font-family;
    th {
        padding: $slate-table-heading-padding;
        border: $slate-table-border;
        color: $slate-table-heading-colour;
        font-weight: $slate-table-heading-font-weight;
        text-align: $slate-table-heading-text-align;
    }
    td {
        padding: $slate-table-cell-padding;
        border: $slate-table-border;
        text-align: $slate-table-cell-text-align;
    }
    thead {
        @if mixin-exists(slate-table-thead-hook) {
            @include slate-table-thead-hook();
        }
    }
    tbody {
        @if mixin-exists(slate-table-tbody-hook) {
            @include slate-table-tbody-hook();
        }
    }
    tfoot {
        @if mixin-exists(slate-table-tfoot-hook) {
            @include slate-table-tfoot-hook();
        }
    }
    caption {
        @if mixin-exists(slate-table-caption-hook) {
            @include slate-table-caption-hook();
        }
    }
    &.striped {
        tbody {
            tr {
                background: $slate-table-row-background;
                &:nth-child(odd) {
                    background: $slate-table-row-odd-background;
                }
            }
        }
    }
    @if mixin-exists(slate-table-hook) {
        @include slate-table-hook();
    }
}

* + table {
    margin-top: $slate-table-trailing-margin;
}
