@import '../variables/colours';
@import '../variables/spacing';
@import '../mixins';

.image-block {
    display: block;
    width: 100%;
    height: auto;
}

.text-muted {
    color: $slate-muted;
}

.text-columns {
    column-count: 1;
    @include respond(medium) {
        column-count: 3;
    }
}

.text-center {
    text-align: center;
}

* + .text-columns {
    margin-top: $slate-default-spacing;
}