@import '../variables/image-break';
@import '../variables/layout';

#{$slate-image-break-root-selector} {
    $root-selector: #{&};

    &--container {
        $container-selector: #{&};

        @at-root {
            // Overlay class can be applied either to a parent section, or to the container itself
            #{selector-unify($slate-layout-section-selector,$slate-image-break-overlay-class)}
            #{$container-selector},
            #{selector-unify($container-selector,$slate-image-break-overlay-class)} {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $slate-image-break-overlay;
                }
            }

            #{selector-unify($slate-layout-section-selector,$slate-image-break-overlay-class--dark)}
            #{$container-selector},
            #{selector-unify($container-selector,$slate-image-break-overlay-class--dark)} {
                &::after {
                    background: $slate-image-break-overlay--dark;
                }
            }
        }
        position: relative;
        display: flex;
        align-items: $slate-image-break-vertical-alignment;
        overflow: $slate-image-break-overflow;
        min-height: $slate-image-break-min-height;
        padding: $slate-image-break-container-padding;
        > * {
            position: relative;
            z-index: $slate-image-break-child-z-index;
        }
    }

    &--background {
        position: absolute;
        top: 0;
        z-index: $slate-image-break-background-z-index;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        // height: 200%;
        height: 100%;
        > img,
        > source {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
