@import '../variables/silverstripe-forms';
@import '../mixins';

form {
    display: $slate-silverstripe-forms-form-display;
    overflow: $slate-silverstripe-forms-form-overflow;
    width: $slate-silverstripe-forms-form-width;
    fieldset,
    .fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: $slate-silverstripe-forms-fieldset-width;
        margin-top: -$slate-silverstripe-forms-vertical-gutter;
        margin-left: -$slate-silverstripe-forms-horizontal-gutter;
        > * {
            flex: none;
            width: 100%;
            margin: 0;
        }
        > .field {
            width: calc(100% - #{$slate-silverstripe-forms-horizontal-gutter});
            margin-left: $slate-silverstripe-forms-horizontal-gutter;
            @include respond(medium) {
                width: calc(
                    50% - #{$slate-silverstripe-forms-horizontal-gutter}
                );
                &.textarea {
                    width: calc(
                        100% - #{$slate-silverstripe-forms-horizontal-gutter}
                    );
                }
                &.half-width {
                    width: calc(
                        50% - #{$slate-silverstripe-forms-horizontal-gutter}
                    );
                }
                &.full-width,
                &.composite {
                    width: calc(
                        100% - #{$slate-silverstripe-forms-horizontal-gutter}
                    );
                }
            }
        }
        .field {
            display: block;
            margin-top: $slate-silverstripe-forms-vertical-gutter;
            input,
            textarea,
            select {
                width: $slate-silverstripe-forms-input-width;
            }
            label {
                &.left {
                    & + .middleColumn {
                        margin-top: $slate-silverstripe-forms-middlecolumn-margin-top;
                    }
                }
            }
            .description {
                display: $slate-silverstripe-forms-description-display;
                margin: $slate-silverstripe-forms-description-margin;
                padding: $slate-silverstripe-forms-description-padding;
                color: $slate-silverstripe-forms-description-colour;
                font-style: $slate-silverstripe-forms-description-font-style;
                font-size: $slate-silverstripe-forms-description-font-size;
                line-height: $slate-silverstripe-forms-description-line-height;
            }
            .message {
                margin-top: $slate-silverstripe-forms-field-message-trailing-margin;
                padding: $slate-silverstripe-forms-field-message-padding;
                border: $slate-silverstripe-forms-field-message-border;
                background: $slate-silverstripe-forms-field-message-background;
            }
            &.holder-required,
            &.holder-error {
                label {
                    &.left {
                        color: $slate-silverstripe-forms-label-colour--required;
                    }
                }
                input {
                    border-color: $slate-silverstripe-forms-border-colour--required;
                }
            }
            &.checkbox,
            &.radio,
            &.optionset {
                input[type='checkbox'],
                input[type='radio'] {
                    & + label {
                        margin: $slate-silverstripe-forms-label-check-margin;
                    }
                }
            }
            &.optionset {
                input[type='checkbox'],
                input[type='radio'] {
                    & + label {
                        margin: 0;
                    }
                }
                ul.optionset {
                    max-width: none;
                    padding: 0;
                    list-style: none;
                    li {
                        display: block;
                        margin: $slate-silverstripe-forms-optionset-options-margin;
                        padding: $slate-silverstripe-forms-optionset-options-padding;
                        background: $slate-silverstripe-forms-optionset-options-background;
                        text-indent: 0;
                        &:nth-child(odd) {
                            background: $slate-silverstripe-forms-optionset-options-background--odd;
                        }
                        & + li {
                            margin-top: $slate-silverstripe-forms-optionset-options-trailing-margin;
                        }
                    }
                }
            }
        }
    }
    * + fieldset,
    * + .fieldset {
        margin-top: $slate-silverstripe-forms-fieldset-trailing-margin -
            $slate-silverstripe-forms-vertical-gutter;
    }

    &.loading {
        fieldset,
        .fieldset {
            opacity: $slate-silverstripe-forms-fieldset-opacity--loading;
            pointer-events: none;
        }
    }

    .actions,
    .btn-toolbar {
        > * {
            margin: $slate-silverstripe-forms-form-action-margin $slate-silverstripe-forms-form-action-margin 0 0;
            @if mixin-exists(slate-silverstripe-forms-actions-action) {
                @include slate-silverstripe-forms-actions-action;
            }
        }
    }
    * + .actions,
    * + .btn-toolbar {
        margin-top: $slate-silverstripe-forms-vertical-gutter;
    }
}

// Ensure we've got trailing margins on forms that are rendered by SS React Forms, given that they are wrapped in a div (react root)
* + [data-schema-id] {
    margin-top: $slate-forms-form-trailing-margin;
}
