@import '../variables/silverstripe-messages';
@import '../mixins';
@import '../helpers';

.message {
    display: block;
    padding: $slate-silverstripe-messages-padding;
    border-width: $slate-silverstripe-messages-border-thickness;
    border-style: solid;
    border-radius: $slate-silverstripe-messages-border-radius;
    font-size: $slate-silverstripe-messages-font-size;
    @include message-variant(
        $slate-silverstripe-messages-info-colour,
        $slate-silverstripe-messages-background-lightness,
        $slate-silverstripe-messages-background-opacity,
        info
    );
    &.good,
    &.success {
        @include message-variant(
            $slate-silverstripe-messages-good-colour,
            $slate-silverstripe-messages-background-lightness,
            $slate-silverstripe-messages-background-opacity,
            good
        );
    }
    &.bad,
    &.error,
    &.required {
        @include message-variant(
            $slate-silverstripe-messages-bad-colour,
            $slate-silverstripe-messages-background-lightness,
            $slate-silverstripe-messages-background-opacity,
            bad
        );
    }
    &.warning {
        @include message-variant(
            $slate-silverstripe-messages-warning-colour,
            $slate-silverstripe-messages-background-lightness,
            $slate-silverstripe-messages-background-opacity,
            warning
        );
    }
}

* + .message {
    margin-top: $slate-silverstripe-messages-trailing-margin;
}
