@import '../variables/menu-bar';

.menu-bar {
    position: relative;
    z-index: $slate-menu-bar-z-index;
    width: 100%;
    background: $slate-menu-bar-background;
    box-shadow: $slate-menu-bar-drop-shadow;
    .menu-bar--container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: $slate-menu-bar-container-max-width;
        margin: 0 auto;
        padding: $slate-menu-bar-container-vertical-padding
            $slate-menu-bar-container-horizontal-padding;
        @include respond(medium) {
            .hamburger {
                display: none;
            }
        }
    }
    .menu-bar--items {
        display: none;
        flex-grow: 1;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        margin: $slate-menu-bar--items-margin;
        padding: $slate-menu-bar-items-vertical-padding
            $slate-menu-bar-items-horizontal-padding;
        font-size: $slate-menu-bar-items-font-size;
        text-transform: $slate-menu-bar-items-text-transform;
        list-style: none;
        .menu-item {
            position: relative;
            display: block;
            text-indent: 0;
            a {
                color: $slate-menu-bar-items-colour;
                text-decoration: $slate-menu-bar-items-text-decoration;
                transition: $slate-menu-bar-items-transition;
                will-change: $slate-menu-bar-items-will-change;
                white-space: nowrap;
                padding: $slate-menu-bar-items-item-padding--vertical
                    $slate-menu-bar-items-item-padding--horizontal;
                display: inline-block;
                &::selection {
                    visibility: hidden;
                }
                &:visited {
                    color: $slate-menu-bar-items-colour--visited;
                    text-decoration: $slate-menu-bar-items-text-decoration--visited;
                }
                &:hover {
                    color: $slate-menu-bar-items-colour--hover;
                    text-decoration: $slate-menu-bar-items-text-decoration--hover;
                }
            }
            // Optionally don't include these styles by setting the
            // $slate-menu-bar--disable-child-list-styles variable to true
            /* stylelint-disable-next-line -- Prevent @if being re-ordered */
            @if not variable-exists(slate-menu-bar--disable-child-list-styles) {
                &--children {
                    // ul
                    @extend %lists-reset;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    background: $slate-menu-bar-children-background;
                    width: auto;
                    margin: 0;
                    box-shadow: $slate-menu-bar-children-drop-shadow;
                    transition: $slate-menu-bar-children-transition--out;
                    .menu-item {
                        a {
                            color: $slate-menu-bar-children-item-colour;
                            padding: $slate-menu-bar-children-item-padding--vertical
                                $slate-menu-bar-children-item-padding--horizontal;
                        }
                        &:hover {
                            background: $slate-menu-bar-children-item-background--hover;
                            a {
                                color: $slate-menu-bar-children-item-colour--hover;
                            }
                        }
                    }
                }
                &:hover {
                    .menu-item--children {
                        visibility: visible;
                        opacity: 1;
                        transition: $slate-menu-bar-children-transition--in;
                    }
                }
            }
        }
        > .menu-item {
            margin: 0 0 0 $slate-menu-bar-menu-item-margin;
        }
        &.left-align {
            justify-content: flex-start;
        }
        @include respond(medium) {
            display: flex;
        }
    }
}
