@import '../variables/parallax-image-break';

#{$slate-parallax-image-break-container-selector} {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $slate-parallax-image-break-container-z-index;
    overflow: $slate-parallax-image-break-container-overflow;
    width: 100%;
    height: 100%;
    #{$slate-image-break-root-selector}--background {
        height: $slate-parallax-image-break-background-height;
    }
}
