@import '../variables/scroll-spy';

/**
This code is always loaded as part of the main bundle
**/

.sspy {
    
    &.sspy-fade-in,
    &.sspy-fade-in-down {
        opacity: $slate-scroll-spy--fade-in--starting-opacity;
    }

    @if mixin-exists(slate-scroll-spy-root) {
        @include slate-scroll-spy-root;
    }
}