/**
Styles which should be lazy loaded when ScrollSpy initialises
**/
@import 'projectCSSConfig';
@import '../variables/scroll-spy';

.sspy {
    transition: $slate-scroll-spy-default-transition;

    &.sspy-fade-in {
        will-change: opacity;
    }

    &.sspy-fade-in-down {
        will-change: opacity, transform;
        transform: $slate-scroll-spy--fade-in-down--starting-transform;
        transition: $slate-scroll-spy--fade-in-down--transition;
    }

    /* stylelint-disable-next-line -- Prevent @if being re-ordered */
    @if mixin-exists(slate-scroll-spy-setup) {
        @include slate-scroll-spy-setup;
    }

    &.sspy-visible {

        &.sspy-fade-in,
        &.sspy-fade-in-down {
            opacity: 1;
        }

        &.sspy-fade-in-down {
            transform: $slate-scroll-spy--fade-in-down--visible-transform;
        }

        /* stylelint-disable-next-line -- Prevent @if being re-ordered */
        @if mixin-exists(slate-scroll-spy-visible) {
            @include slate-scroll-spy-visible;
        }

    }

}