@import '../variables/hamburger';
@import '../mixins';

.hamburger,
button.hamburger {
    position: relative;
    display: block;
    width: $slate-hamburger-width;
    height: $slate-hamburger-height;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    appearance: none;
    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: $slate-hamburger-bar-height;
        background: $slate-hamburger-bar-colour;
        transform: 50% 50%;
    }
}
