@import '../variables/sticky-menu-bar';

.menu-bar {
    &.sticky-menu-bar {
        transition: $slate-sticky-menu-bar-transition;
        will-change: $slate-sticky-menu-bar-will-change;
        &.stuck {
            position: fixed;
            background: $slate-sticky-menu-bar-background--stuck;
            box-shadow: $slate-sticky-menu-bar-drop-shadow--stuck;
            transition: $slate-sticky-menu-bar-transition--stuck;
            ul.menu-bar--items {
                > li {
                    > a {
                        color: $slate-sticky-menu-bar-items-colour--stuck;
                        &:visited {
                            color: $slate-sticky-menu-bar-items-colour--visited--stuck;
                        }
                        &:hover {
                            color: $slate-sticky-menu-bar-items-colour--hover--stuck;
                        }
                    }
                }
            }
        }
    }
    &.sticky-menu-bar--overlay {
        // Fix layout flash caused by default setting
        $mb-selector: #{&};
        @at-root .sticky-menu-bar-wrapper--overlay {
            position: absolute;
            width: 100%;
            // #{$mb-selector} {
            //     position: relative;
            // }
        }
        position: absolute;
        width: 100%;
        background: $slate-sticky-menu-bar-background--overlay;
        ul.menu-bar--items {
            > li {
                > a {
                    color: $slate-sticky-menu-bar-items-colour--overlay;
                    &:visited {
                        color: $slate-sticky-menu-bar-items-colour--visited--overlay;
                    }
                    &:hover {
                        color: $slate-sticky-menu-bar-items-colour--hover--overlay;
                    }
                }
            }
        }
    }
}
