@import '../variables/accordion';

.accordion {
    &--row {
        position: relative;
        display: block;
    }

    &--content {
        overflow: hidden;
    }

    &--toggle {
        position: absolute;
        top: $slate-accordion--toggle--top;
        right: $slate-accordion--toggle--right;
        margin: 0;
        padding: $slate-accordion--toggle--padding;
        border: none;
        background: none;
        color: $slate-accordion--toggle--colour;
        outline: none;
        font-size: $slate-accordion--toggle--font-size;
        transform-origin: $slate-accordion--toggle--transform-origin;
        // remove any padding or margin that might be messing with transform-origin (or the appearance of)
        svg {
            margin: 0;
            padding: 0;
        }
        &:active {
            color: $slate-accordion--toggle--colour;
        }
        &:hover {
            border: none;
            background: transparent;
            color: $slate-accordion--toggle--colour;
        }
        &::selection {
            background: transparent;
        }
    }
}
